<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Add CurvePoint</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container col-7 d-flex flex-column justify-content-center align-items-center vh-100">

    <div class="container d-flex flex-column  justify-content-center align-items-center">
        <h2>Add New Curve Point</h2>
    </div>

    <div class="container row-cols-4  d-flex justify-content-center align-items-center ">
        <form action="#" class="form-horizontal" method="post" style="width: 100%"
              th:action="@{/curvePoint/validate}" th:object="${curvePoint}">

            <div class="form-group row-1 justify-content-between ">
                <label class="col-form-label " for="curveId">Curve Id</label>
                <div class="col-13 justify-content-start">
                    <input class="form-control form-control-sm border justify-self-left "
                           id="curveId" placeholder="Curve Id" th:field="*{curveId}"
                           type="number">
                    <p class="text-danger" th:errors="*{curveId}"
                       th:if="${#fields.hasErrors('curveId')}"></p>
                </div>
            </div>
            <div class="form-group row-1 justify-content-between">
                <label class="col-form-label " for="term">Term</label>
                <div class="col-13 justify-content-end">
                    <input class="form-control form-control-sm border " id="term" placeholder="Type"
                           step="0.1" th:field="*{term}"
                           type="number">
                    <p class="text-danger" th:errors="*{term}"
                       th:if="${#fields.hasErrors('term')}"></p>
                </div>
            </div>
            <div class="form-group row-1 justify-content-between">
                <label class="col-form-label " for="value">Bid Quantity</label>
                <div class="col-13 justify-content-end">
                    <input class=" form-control form-control-sm border" id="value"
                           placeholder="Value" step="0.1"
                           th:field="*{value}" type="number">
                    <p class="text-danger" th:errors="*{value}"
                       th:if="${#fields.hasErrors('value')}">
                    </p>
                </div>
            </div>

            <div class="form-group row  justify-content-center align-items-center">
                <div class="row-cols-7 ">
                    <a class="btn btn-danger btn-sm" href="/curvePoint/list">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add CurvePoint">
                </div>
            </div>


        </form>
    </div>

</div>
</body>
</html>
