<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
            <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
            <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
            <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
            <a href="/ruleName/list">Rule</a>
            <span sec:authorize="hasAuthority('ADMIN')"> | <a href="/user/list"> Users</a></span>
        </div>
        <div class="col-6 text-right">
            <span>Logged in user:</span> <b class="user" th:inline="text">
            [[${#httpServletRequest.remoteUser}]]</b>
            <form method="POST" th:action="@{/logout}">
                <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                <input class="btn btn-danger" type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100"
         sec:authorize="hasAuthority('USER')"><h1>You can't have access to this page with USER
        role</h1></div>

    <div class="container "
         sec:authorize="hasAuthority('ADMIN')">
    <div class="row"><h2>User List</h2></div>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="/user/add">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td style="width: 10%" th:text="${user.id}"></td>
                <td th:text="${user.fullname}"></td>
                <td th:text="${user.username}"></td>
                <td style="width: 25%" th:text="${user.role}"></td>
                <td class="text-center" style="width: 15%">
                    <a th:href="@{/user/update/{id}(id=${user.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>
