<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Add Rule name</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container col-7 d-flex flex-column justify-content-center align-items-center vh-100">

    <div class="container d-flex flex-column  justify-content-center align-items-center">
        <h2>Add new rule name</h2>
    </div>

    <div class="container row-cols-4  d-flex justify-content-center align-items-center ">
        <form action="#" class="form-horizontal"
              method="post" style="width: 100%"
              th:action="@{/ruleName/update/{id}(id=${ruleName.id})}" th:object="${ruleName}">
            <!--
            TODO: Create a form to input the values of Rating, there are 2 buttons: Save data and Cancel to the list Rating
             -->
            <div class="form-group row-1 justify-content-between ">
                <label class="col-form-label " for="name">name</label>
                <div class="col-13 justify-content-start">
                    <input class="form-control form-control-sm border justify-self-left " id="name" placeholder="Name"
                           th:field="*{name}"
                           type="text">
                    <p class="text-danger" th:errors="*{name}"
                       th:if="${#fields.hasErrors('name')}"></p>
                </div>
            </div>
            <div class="form-group row-1 justify-content-between">
                <label class="col-form-label " for="description">description</label>
                <div class="col-13 justify-content-end">
                    <input class="form-control form-control-sm border " id="description" placeholder="description"
                           th:field="*{description}"
                           type="text">
                    <p class="text-danger" th:errors="*{description}"
                       th:if="${#fields.hasErrors('description')}"></p>
                </div>
            </div>
            <div class="form-group row-1 justify-content-between">
                <label class="col-form-label " for="json">json</label>
                <div class="col-13 justify-content-end">
                    <input class=" form-control form-control-sm border" id="json" placeholder="json"
                           th:field="*{json}" type="text">
                    <p class="text-danger" th:errors="*{json}"
                       th:if="${#fields.hasErrors('json')}">
                    </p>
                </div>
            </div>
            <div class="form-group row-1 justify-content-between">
                <label class="col-form-label " for="template">template</label>
                <div class="col-13 justify-content-end">
                    <input class=" form-control form-control-sm border" id="template" placeholder="template"
                           th:field="*{template}" type="text">
                    <p class="text-danger" th:errors="*{template}"
                       th:if="${#fields.hasErrors('template')}">
                    </p>
                </div>
            </div>
            <div class="form-group row-1 justify-content-between">
                <label class="col-form-label " for="sqlStr">sqlStr</label>
                <div class="col-13 justify-content-end">
                    <input class=" form-control form-control-sm border" id="sqlStr" placeholder="sqlStr"
                           th:field="*{sqlStr}" type="text">
                    <p class="text-danger" th:errors="*{sqlStr}"
                       th:if="${#fields.hasErrors('sqlStr')}">
                    </p>
                </div>
            </div>
            <div class="form-group row-1 justify-content-between">
                <label class="col-form-label " for="sqlPart">sqlPart</label>
                <div class="col-13 justify-content-end">
                    <input class=" form-control form-control-sm border" id="sqlPart" placeholder="sqlPart"
                           th:field="*{sqlPart}" type="text">
                    <p class="text-danger" th:errors="*{sqlPart}"
                       th:if="${#fields.hasErrors('sqlPart')}">
                    </p>
                </div>
            </div>

            <div class="form-group row  justify-content-center align-items-center">
                <div class="row-cols-7 ">
                    <a class="btn btn-danger btn-sm" href="/rating/list">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add RuleName">
                </div>
            </div>


        </form>
    </div>

</div>
</body>
</html>
