<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Add Rule name</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container col-7 d-flex flex-column justify-content-center align-items-center vh-100">

	<div class="container d-flex flex-column  justify-content-center align-items-center">
		<h2>Add new rule name</h2>
	</div>

	<div class="container row-cols-4  d-flex justify-content-center align-items-center ">
		<form action="#" th:action="@{/ruleName/update/{id}(id=${ruleName.id})}"
			  th:object="${ruleName}" method="post"
			  class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of Rating, there are 2 buttons: Save data and Cancel to the list Rating
			 -->
			<div class="form-group row-1 justify-content-between ">
				<label for="name" class="col-form-label ">name</label>
				<div class="col-13 justify-content-start">
					<input type="text" th:field="*{name}" id="name"
						   placeholder="Name"
						   class="form-control form-control-sm border justify-self-left ">
					<p class="text-danger" th:if="${#fields.hasErrors('name')}"
					   th:errors="*{name}"></p>
				</div>
			</div>
			<div class="form-group row-1 justify-content-between">
				<label for="description" class="col-form-label ">description</label>
				<div class="col-13 justify-content-end">
					<input type="text" id="description" th:field="*{description}" placeholder="description"
						   class="form-control form-control-sm border ">
					<p class="text-danger" th:if="${#fields.hasErrors('description')}"
					   th:errors="*{description}"></p>
				</div>
			</div>
			<div class="form-group row-1 justify-content-between">
				<label for="json" class="col-form-label ">json</label>
				<div class="col-13 justify-content-end">
					<input type="text" th:field="*{json}" id="json"
						   placeholder="json" class=" form-control form-control-sm border">
					<p class="text-danger" th:if="${#fields.hasErrors('json')}"
					   th:errors="*{json}">
					</p>
				</div>
			</div>
			<div class="form-group row-1 justify-content-between">
				<label for="template" class="col-form-label ">template</label>
				<div class="col-13 justify-content-end">
					<input type="text" th:field="*{template}" id="template"
						   placeholder="template" class=" form-control form-control-sm border">
					<p class="text-danger" th:if="${#fields.hasErrors('template')}"
					   th:errors="*{template}">
					</p>
				</div>
			</div>
			<div class="form-group row-1 justify-content-between">
				<label for="sqlStr" class="col-form-label ">sqlStr</label>
				<div class="col-13 justify-content-end">
					<input type="text" th:field="*{sqlStr}" id="sqlStr"
						   placeholder="sqlStr" class=" form-control form-control-sm border">
					<p class="text-danger" th:if="${#fields.hasErrors('sqlStr')}"
					   th:errors="*{sqlStr}">
					</p>
				</div>
			</div>
			<div class="form-group row-1 justify-content-between">
				<label for="sqlPart" class="col-form-label ">sqlPart</label>
				<div class="col-13 justify-content-end">
					<input type="text" th:field="*{sqlPart}" id="sqlPart"
						   placeholder="sqlPart" class=" form-control form-control-sm border">
					<p class="text-danger" th:if="${#fields.hasErrors('sqlPart')}"
					   th:errors="*{sqlPart}">
					</p>
				</div>
			</div>

			<div class="form-group row  justify-content-center align-items-center">
				<div class="row-cols-7 ">
					<a class="btn btn-danger btn-sm" href="/rating/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Add RuleName">
				</div>
			</div>



		</form>
	</div>

</div>
</body>
</html>
