<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poseidon </title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/styles.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container col-7 d-flex flex-column justify-content-center align-items-center vh-100">

    <div class="container d-flex flex-column  justify-content-center align-items-center">
        <h1>Log in Screen</h1>
        <br><br>
        <a href="/login">Login</a> or create one <a href="/user/list">User management</a><br>
        <b>Login with Username and Password</b><br>
    </div>
    <div class="container row-cols-4  d-flex justify-content-center align-items-center ">
        <form class="justify-content-center align-items-center " method="POST"
              th:action="@{/login}">

            <div class="form-group row-1 justify-content-between ">
                <label class="col-form-label" for="username">User</label>
                <div class="col-13 justify-content-start">
                    <input class="form-control form-control-sm border justify-self-left "
                           id="username"
                           name="username" type="text">
                </div>
            </div>
            <div class="form-group row-1 justify-content-between ">
                <label class="col-form-label" for="password">Password</label>
                <div class="col-13 justify-content-start">
                    <input class="form-control form-control-sm border justify-self-left "
                           id="password"
                           name="password" type="password">
                    <span class="has-error" th:text="${error}"></span>
                    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                </div>

            </div>
            <div class="row form-group justify-content-center align-items-center ">
                <div class="container row  justify-content-center align-items-center">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
