# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\0_DA_Java_OC\P7\Poseiden-skeleton\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
