<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-6">
            <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
            <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
            <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
            <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
            <a href="/ruleName/list">Rule</a>
            <span sec:authorize="hasAuthority('ADMIN')"> | <a href="/user/list"> Users</a></span>
        </div>
        <div class="col-6 text-right">
            <span>Logged in user:</span> <b class="user" th:inline="text">
            [[${#httpServletRequest.remoteUser}]]</b>
            <form method="POST" th:action="@{/logout}">
                <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                <input class="btn btn-danger" type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <div class="row"><h2>Bid List</h2></div>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="/bidList/add">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Bid Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bids : ${bidList}">
                <td style="width: 10%" th:text="${bids.id}"></td>
                <td th:text="${bids.account}"></td>
                <td th:text="${bids.type}"></td>
                <td style="width: 25%" th:text="${bids.bidQuantity}"></td>
                <td class="text-center" style="width: 15%">
                    <a th:href="@{/bidList/update/{id}(id=${bids.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/bidList/delete/{id}(id=${bids.id})}">Delete</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>
</html>
